body {
    background-color: #0D0D0D;
}

#web-frame {
    width: 100%;
    height: 100%;
    background-color: #0D0D0D;
}

#header {
    position: static;
    height: 60px;
    width: 100%;
    background-color: #F2F2EB;
    text-align: center;
    font-family: "Bodoni MT Black";
    font-size: 50px;
}

#logo {
    position: relative;
    display: flex;
    height: 50px;
    width: 70px;
    border: 3px solid black;
    margin-left: 20px;
    transform: translate(0, -50%);
    top: 50%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Bodoni MT";
    float: left;
}


#nav-bar {
    position: static;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 40px;
    background-color: #BF9999;
    text-align: center;
    font-family: "Bodoni MT Condensed";
    font-size: 30px;
}

#main-content {
    position: static;
    width: 100%;
    height: 100%;
    background-color: #F2F2EB;
    font-family: "Broadway";
}

#text {
    margin-left: 20px;
    font-family: "Bahnschrift";
    font-size: 16px;
    text-align: justify;
}

#gallery{
    position: relative;
    display: grid;
    width: 70%;
    height: 40%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    transform: translate(-50%, 0);
    left: 50%;
    text-align: center;
    font-family: "Bahnschrift";
}

.image {
    width: 100%;
    height: 100%;
    border: 5px solid black;
    margin: 2px;
    font-size: 20px;
}

#footer {
    position: static;
    width: 100%;
    height: 13%;
    background-color: #1F818C;
    font-family: "Bahnschrift";
    font-size: 11px;
    font-style: italic;
    text-align: justify;
}

#footnotes {
    position: relative;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10%;
}

@media(max-width: 1000px){
    #main-content {
        grid-template-columns: 50% 50%;
        height: 150%;
    }
    .image {
        font-size: 12px;
    }
}

@media(max-width: 500px){
    #main-content {
        grid-template-columns: 100%;
        height: 175%;
    }
    .image {
        font-size: 10px;
    }
}
